aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
pyrogram==2.0.99
py-tgcalls==2.0.3b1
pykeyboard
pyrofork
python-dotenv
pyyaml
python-dotenv
tgcrypto
wget
yt_dlp
requests
git+https://github.com/MehmetAtes21/histest
spotipy
tgcrypto
unidecode
git+https://github.com/MehmetAtes21/ydpdl
git+https://github.com/MehmetAtes21/ytsearch
youtube-search-python
youtube_dl
